<%= render 'spree/admin/shared/sub_menu/configuration' %>

<% content_for :page_title do %>
  <%= Spree.t(:tax_cloud_settings) %>
<% end %>

<%= form_tag admin_tax_cloud_settings_path, method: :put do %>
  <div id="preferences" data-hook>
    <div class="row">

      <div class="col-md-6">
        <fieldset class="no-border-bottom">
          <legend><%= Spree.t(:tax_cloud_api_login_and_key)%></legend>
          <% @preferences_login.each do |key|
              type = Spree::Config.preference_type(key) %>
              <div class="form-group">
                <%= label_tag(key, Spree.t(key)) + tag(:br) if type != :boolean %>
                <%= preference_field_tag(key, Spree::Config[key], type: type) %>
                <%= label_tag(key, Spree.t(key)) + tag(:br) if type == :boolean %>
              </div>
          <% end %>
        </fieldset>
      </div>

      <div class="col-md-6">
        <fieldset class="no-border-bottom">
          <legend><%= Spree.t(:tax_cloud_taxability_codes)%></legend>
          <% @preferences_tic.each do |key|
              type = Spree::Config.preference_type(key) %>
              <div class="form-group">
                <%= label_tag(key, Spree.t(key)) + tag(:br) if type != :boolean %>
                <%= preference_field_tag(key, Spree::Config[key], type: type) %>
                <%= label_tag(key, Spree.t(key)) + tag(:br) if type == :boolean %>
              </div>
          <% end %>
        </fieldset>
      </div>
    </div>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), edit_admin_tax_cloud_settings_url, icon: 'delete' %>
    </div>

  </div>
<% end %>
